body,
html,
*,
*::before,
*::after {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

article {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 55px;
}

article h1 {
  font-size: 42px;
  color: #d3573c;
}

article img {
  height: 193px;
  width: 212px;
  border-radius: 50%;
  object-fit: cover;
}

article p.location {
  color: #901c1c;
}

/* Old Import  */

#contact_modal {
  display: block;
  top: 49px;
  position: absolute;
  z-index: 20;
  background-color: rgb(219, 136, 118);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  width: 670px;
  height: 900px;
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.globalFilter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
  visibility: hidden;
}
.toggleVisibility {
  visibility: visible;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  margin: auto;
}

.modal header {
  display: flex;
  width: 100%;
  margin-bottom: 75px;
  align-items: center;
}

.modal header h2 {
  font-size: 49px;
  font-weight: 900;
  text-align: left;
  align-self: baseline;
  width: 90%;
}

.modal header img {
  align-self: baseline;
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  font-weight: 400;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
.error__data {
  color: #000000;
  font-size: 20px;
  margin-top: 5px;
  display: none;
}

form input,
textarea {
  width: 100%;
  height: 57px;
  border: none;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
  font-size: 25px;
  outline: none;
}
textarea {
  height: 200px;
  resize: none;
}
