body,
html,
*,
*::before,
*::after {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 115px;
}

.photograph-header article {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 55px;
}

article h1 {
  font-size: 42px;
  color: #d3573c;
}

article img {
  height: 193px;
  width: 212px;
  border-radius: 50%;
  object-fit: cover;
}

article p.location {
  color: #901c1c;
}

/* Old Import  */

#contact_modal {
  top: 55px;
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 20;
  background-color: rgb(219, 136, 118);
  margin: auto;
  transform: translate(-50%);
  width: 670px;
  min-height: 700px;
  max-height: 120%;
  display: none;
  border-radius: 5px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 110px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.globalFilter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(11, 0, 0, 0.74);
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
  visibility: hidden;
}

.toggleVisibility {
  visibility: visible;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  margin: auto;
}

.modal header {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  align-items: center;
}

.modal header h2 {
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  align-self: baseline;
  width: 95%;
}

.modal header img {
  align-self: baseline;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 1px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

.error__data {
  color: #000000;
  font-size: 17px;
  display: none;
}

form input,
textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
  font-size: 20px;
  outline: none;
}

textarea {
  height: 170px;
  resize: none;
}

.userMessage {
  margin-bottom: 25px;

}


.photograph__medias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 51px;
  justify-content: space-around;
}

.photograph__medias article {
  margin-bottom: 25px;
}

.photograph__medias article video,
.photograph__medias article img {
  height: 200px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
}

.photograph__medias article header p,
.photograph__medias article header h2 {
  color: #901c1c;
  font-size: 18px;
}

.photograph__medias article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}


.slider__block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(219, 219, 219, 0.7);
  z-index: 10000;
  display: none;

}

.place__image {
  width: 1000px;
  height: 1000px;
  display: block;
  margin: 0 auto;
}

.slider__block .central__image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  margin: 5% auto;
  display: block;
  border-radius: 0%;
}


.right__direction {
  position: absolute;
  top: 45%;
  right: 10%;
  color: #901C1C;
  cursor: pointer;
}

.left__direction {
  position: absolute;
  top: 45%;
  left: 10%;
  color: #901C1C;
  cursor: pointer;
}

.close__slider {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 6%;
  color: #901C1C;
  right: 11%;
  cursor: pointer;
}

i {
  width: 1140px;
}

.screen__only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 25px 110px;
}

.label__sort {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.custom__options {
  background-color: #901C1C;
  color: white;
  text-align: left;
  width: 120px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  flex-direction: column;
}
.custom__options .options {
  padding: 10px 0px;
  cursor: pointer;
  border-bottom: #fafafa 1px solid;
  padding-left: 15px;
  font-size: 17px;
  height: 50px;
}
.full__height {
  height: 100%;
}

.thirdOption {
  order: 3;
}
.secondOption {
  order: 4;
}
.firstOption {
  order: 1;
}

footer { 
  display: flex;
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.likesFooter {
  display: flex;
  justify-content: space-between;

  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: #DB8876;
  width: 200px;
  height: 50px;
  padding: 15px;
  border-radius: 5px 5px 0px 0px ;
}
.totalOFlIkes {
  margin-right: 5px;
}
.partOfLikes {
  display: flex;
  align-items: center;
}